!api/packages/Selenium
packages
obj
bin
published
client/node_modules/
client/src/**/*.js.map
client/src/**/*.js
!client/resources
!client/themes
client/dist/
api/.vs/config/applicationhost.config
**/logs/log.txt
deployment/
!api/packages/Ziplib
!api/packages/EPPlus
/.vs
/api/.vs/Application
